{% include blog/hero-wrapper.html %}

<div id="sub-hero-wrapper">
    <div id="blog-content" class="row blog-row">
        <div class="large-10 columns collapse content">
            
            
            {% for post in site.posts %}
            
            
            <div class="row">
                <div class="post-info medium-3 large-3 columns">
                    <span class="post-date"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%B %-d, %Y" }}</a></span>
                    <span class="post-author"><a href="">{{ post.author }}</a></span>

<!--                    <span class="category post-tags news"><a href="http://blog.brackets.io/category/news/">news</a></span>-->
                </div>
                <div class="post medium-9 large-9 columns">
                    
                    <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
                    
                    <div>{{ post.content | truncatewords:300}}</div>
                    
                    <p><a href="{{ post.url }}">Read more...</a></p>

                    <p class="comment-count"><a class="button radius secondary" href="{{ post.url | prepend: site.baseurl }}/#comments">36 Responses</a>
                    </p>

                    <hr>

                </div>
            </div>
            
            
            {% endfor %}
            
            
        </div>

        <div class="large-2 columns">
            <ul class="blog-menu">
                <li class="">
                    <a href="#">
                    General                </a>
                </li>
                <li class="">
                    <a href="#">
                    Mobile                </a>
                </li>
                <li class="">
                    <a href="#">
                    AEM                </a>
                </li>
                <li class="">
                    <a href="#">
                    Analytics                </a>
                </li>
                <li class="">
                    <a href="#">
                    Sightly                </a>
                </li>
            </ul>
        </div>
    </div>
</div>