<div id="content" class="row">
    <div class="large-4 columns">
        <h2><a href="https://github.com/adobe/brackets/labels/starter%20bug" data-i18n="contribute.page.content.starter-issues.header">Starter Issues</a></h2>
        <p data-i18n="[html]contribute.page.content.starter-issues.description">Just getting started? Starter issues are bite-sized bugs that shouldn't take more than an hour or two to complete. They are a great way to learn the codebase <em>and</em> make a difference.</p>
        <div id="starter_issues">
            <div class="spinner">
            </div>

            <!-- JS generated content -->

        </div>
        <p><a href="https://github.com/adobe/brackets/issues?labels=starter+bug&page=1&state=open" data-i18n="contribute.page.content.starter-issues.more">View starter issues&hellip;</a></p>
    </div>
    <div class="large-4 columns">
        <h2 data-i18n="contribute.page.content.starter-features.header">Starter Features</h2>
        <p data-i18n="contribute.page.content.starter-features.description">Ready for something bigger? Starter features are small ideas that won't require a big time commitment. You should be able to complete one in a couple weeknights or over a weekend.</p>
        <div id="starter_features">
            <div class="spinner">
            </div>

            <!-- JS generated content -->

        </div>
        <p><a href="http://bit.ly/BracketsBacklog" data-i18n="contribute.page.content.starter-features.more">View the feature backlog&hellip;</a></p>
    </div>
    <div class="large-4 columns">
        <h2 data-i18n="contribute.page.content.committers.header">Committers</h2>

        <ul class="committer-list">
            <li>
                <img src="https://avatars.githubusercontent.com/u/1457701?s=27" alt="avatar"/>
                Miguel Castillo (<a href="https://github.com/MiguelCastillo">manchagnu</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1067319?s=27" alt="avatar"/>
                Martin Zagora (<a href="https://github.com/zaggino">zaggino</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/3368515?s=27" alt="avatar"/>
                Arzhan Kinzhalin (<a href="https://github.com/busykai">busykai</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/86214?s=27" alt="avatar"/>
                Ingo Richter (<a href="https://github.com/ingorichter">ingorichter</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/887904?s=27" alt="avatar"/>
                Jochen Hagenstroem (<a href="https://github.com/couzteau">couzteau</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/3752015?s=27" alt="avatar"/>
                Bryan Chin (<a href="https://github.com/bchintx">bchintx</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1514099?s=27" alt="avatar"/>
                Jeff Booher (<a href="https://github.com/JeffryBooher">JeffryBooher</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1774931?s=27" alt="avatar"/>
                Lance Campbell (<a href="https://github.com/lkcampbell">lkcampbell</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1564859?s=27" alt="avatar"/>
                Dennis Kehrig (<a href="https://github.com/DennisKehrig">DennisKehrig</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1075154?s=27" alt="avatar"/>
                Ian Wehrman (<a href="https://github.com/iwehrman">iwehrman</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/905006?s=27" alt="avatar"/>
                Chema Balsas (<a href="https://github.com/jbalsas">jbalsas</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1334574?s=27" alt="avatar"/>
                Jonathan Diehl (<a href="https://github.com/jdiehl">jdiehl</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/367710?s=27" alt="avatar"/>
                Jonathan Rowny (<a href="https://github.com/jrowny">jrowny</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1299997?s=27" alt="avatar"/>
                Tomás Malbrán (<a href="https://github.com/TomMalbran">TomMalbran</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1197545?s=27" alt="avatar"/>
                Adam Lehman (<a href="https://github.com/adrocknaphobia">adrocknaphobia</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/55970?s=27" alt="avatar"/>
                Kevin Dangoor (<a href="https://github.com/dangoor">dangoor</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/125516?s=27" alt="avatar"/>
                Garth Braithwaite (<a href="https://github.com/GarthDB">GarthDB</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1060119?s=27" alt="avatar"/>
                Glenn Ruehle (<a href="https://github.com/gruehle">gruehle</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1148713?s=27" alt="avatar"/>
                Jason San Jose (<a href="https://github.com/jasonsanjose">jasonsanjose</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/908679?s=27" alt="avatar"/>
                Joel Brandt (<a href="https://github.com/joelrbrandt">joelrbrandt</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/697759?s=27" alt="avatar"/>
                Narciso Jaramillo (<a href="https://github.com/njx">njx</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1197510?s=27" alt="avatar"/>
                Peter Flynn (<a href="https://github.com/peterflynn">peterflynn</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1584287?s=27" alt="avatar"/>
                Peter Thiess (<a href="https://github.com/pthiess">pthiess</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1542488?s=27" alt="avatar"/>
                Raymond Lim (<a href="https://github.com/RaymondLim">RaymondLim</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1197144?s=27" alt="avatar"/>
                Randy Edmunds (<a href="https://github.com/redmunds">redmunds</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/45450?s=27" alt="avatar"/>
                Ryan Stewart (<a href="https://github.com/ryanstewart">ryanstewart</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/2781554?s=27" alt="avatar"/>
                Darrell Loverin (<a href="https://github.com/dloverin">dloverin</a>)
            </li>
            <li>
                <img src="https://avatars.githubusercontent.com/u/1495261?s=27" alt="avatar"/>
                Larz (<a href="https://github.com/larz0">larz0</a>)
            </li>
        </ul>

    </div>
</div>