    <div id="footer-wrapper" class="gradient">
        <div id="footer" class="row">
            <div class="large-4 columns">
                <h2 id="contribute" data-i18n="footer.get-involved.header">Get Involved</h2>
                <ul>
                    <li>
                        <a href="https://github.com/adobe/brackets/wiki/Suggest-a-Feature" data-i18n="footer.get-involved.content.suggest">Suggest a Feature</a>
                    </li>
                    <li>
                        <a href="https://groups.google.com/forum/#!forum/brackets-dev" data-i18n="footer.get-involved.content.devlist">Developer List on Google Groups</a>
                    </li>
                    <li>
                        <a href="http://webchat.freenode.net?channels=brackets&uio=d4" data-i18n="footer.get-involved.content.irc">Chat on IRC at Freenode/#Brackets</a>
                    </li>
                    <li>
                        <a href="https://github.com/adobe/brackets/issues" data-i18n="footer.get-involved.content.issues">Current Issues on GitHub</a>
                    </li>
                    <li>
                        <a href="http://bit.ly/BracketsBacklog" data-i18n="footer.get-involved.content.trello">Feature Backlog on Trello</a>
                    </li>
                </ul>
            </div>
            <div class="large-4 columns">
                <h2 id="try-it" data-i18n="footer.videos.header">Videos</h2>
                <ul>
                    <li>
                        <a href="http://youtu.be/rvo3Mv1Z4qU" data-i18n="footer.videos.content.intro" data-yt-id="rvo3Mv1Z4qU">Introducing Brackets</a>
                    </li>
                    <li>
                        <a href="http://youtu.be/Nhvj1NYC3Uc" data-i18n="footer.videos.content.livedev" data-yt-id="Nhvj1NYC3Uc">Brackets Live Development for HTML</a>
                    </li>
                    <li>
                        <a href="http://youtu.be/T6d5C3rLeFY" data-i18n="footer.videos.content.theseus" data-yt-id="T6d5C3rLeFY">JavaScript Debugger for Brackets</a>
                    </li>
                    <li>
                        <a href="http://tutsplus.com/courses/introduction-to-brackets?utm_source=Bracketsio&utm_medium=website&utm_campaign=BracketsWebsite" data-i18n="footer.videos.content.tutsplus">Tuts+ Introduction to Brackets</a>
                    </li>
                </ul>

            </div>
            <div class="large-4 columns">
                <h2 data-i18n="footer.links.header">Quick Links</h2>
                <ul>
                    <li>
                        <a href="https://github.com/adobe/brackets" data-i18n="footer.links.content.source">Source Code</a>
                    </li>
                    <li>
                        <a href="https://github.com/adobe/brackets/wiki/Troubleshooting" data-i18n="footer.links.content.troubleshooting">Troubleshooting Help</a>
                    </li>
                    <li>
                        <a href="https://github.com/adobe/brackets/wiki" data-i18n="footer.links.content.wiki">Wiki</a>
                    </li>
                    <li>
                        <a href="docs/current/modules/brackets.html" data-i18n="footer.links.content.apidocs">API Documentation</a>
                    </li>
                    <li>
                        <a href="https://ingorichter.github.io/BracketsExtensionTweetBot/" data-i18n="footer.links.content.extension">Weekly Extension Updates</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="about" class="row">
            <div class="large-6 large-centered columns">
                <p>Brackets was founded by Adobe as a community guided, open source project to push web development editors to the next level.
                    <br>The project is released under an
                    <a href="https://github.com/adobe/brackets/blob/master/LICENSE">MIT License</a>.</p>
            </div>
        </div>
    </div>