<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Open Development Network - SDKs, tools and code samples.</title>

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.min.css" />

    <link rel="stylesheet" href="css/reveal.css">

    <link rel="shortcut icon" href="favicon.ico" />

    <!-- Only Edit brackets.io.css -->
    <link rel="stylesheet" href="css/base.css" />

    <!-- These stop FOUT -->
    <style type="text/css">
        .wf-loading h1,
        .wf-loading h2,
        .wf-loading h3,
        .wf-loading h4,
        .wf-loading h5,
        .wf-loading h6,
        .wf-loading p,
        .wf-loading a {
            visibility: hidden;
        }
    </style>

    <link rel="stylesheet" href="css/spinner.css" />

    <!-- SEO for internationalization: https://support.google.com/webmasters/answer/189077 -->
    <link rel="alternate" href="?" hreflang="x-default" />
    <link rel="alternate" href="?lang=en" hreflang="en" />

    <!--[if gte IE 9]>
<style type="text/css">
.gradient {
filter: none;
}
</style>
<![endif]-->
    
</head>