    <div id="header-wrapper">
        <div id="header" class="row">
            <div class="large-12 columns clearfix">
                <h1 class="brackets-logo">
                    <a href="{{ "/index.html" | prepend: site.baseurl }}">
                        <i></i>OpenDeveloper</a>
                </h1>
                <div class="mobile-nav">
                    <a id="hamburger" href="#"></a>
                </div>
                <div class="nav clearfix">
                    <!--div class="nav-links">
                        <a href="{{ "/blog.html" | prepend: site.baseurl }}" data-i18n="nav.blog">Blog</a>
                    </div-->
                    <div class="social-links">
                        <a class="social-links-item github-icon" href="https://github.com/Adobe-Marketing-Cloud/" title="GitHub">GitHub</a>
                    </div>
                    <a id="adobe-tag" href="http://www.adobe.com" title="Adobe">Adobe</a>
                </div>
            </div>
        </div>
    </div>