    <div id="header-wrapper">
        <div id="header" class="row">
            <div class="large-12 columns clearfix">
                <h1 class="brackets-logo">
                    <a href="index.html">
                        <i></i>Adobe opendev</a>
                </h1>
                <div class="mobile-nav">
                    <a id="hamburger" href="#"></a>
                </div>
                <div class="nav clearfix">
                    <div class="nav-links">
<!--                        <a href="contribute.html" class="contribute" data-i18n="nav.contribute">Contribute</a>-->
                        <a href="blog.html" data-i18n="nav.blog">Blog</a>
                    </div>
                    <div class="social-links">
                        <a class="social-links-item github-icon" href="https://github.com/Adobe-Marketing-Cloud/" title="GitHub">GitHub</a>
                        <a class="social-links-item twitter-icon" href="https://twitter.com/AdobeMktgCloud" title="Twitter">Twitter</a>
                        <a class="social-links-item youtube-icon" href="https://www.youtube.com/user/AdobeDigMktg" title="YouTube">YouTube</a>
                    </div>
                    <a id="adobe-tag" href="http://www.adobe.com" title="Adobe">Adobe</a>
                </div>
            </div>
        </div>
    </div>