<head>
    
    <title>{{ page.title }}</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="SDKs, Tools and Code Samples for Adobe Marketing Cloud developers. Open Source.">
    
    <link rel="shortcut icon" href="favicon.ico" />
    
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/foundation.min.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/reveal.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/base.css" | prepend: site.baseurl }}" />
    
    <script src="//use.typekit.net/yaw2sdr.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    
</head>