<div id="hero-wrapper">
    <div id="hero" class="row">
        <div class="large-12 columns">
            <img src="{{ "/img/amc/mvn-install.png" | prepend: site.baseurl }}">
            <h1><span data-i18n="index.page.hero.description">SDKs, samples and tools for Adobe Marketing Cloud developers. Open Source.</span></h1>
            <p>OpenDeveloper is a collaborative space for developers. Get or contribute SDKs, samples and tools. Contributed by Adobe engineering and the whole developer community.</p>
        </div>
    </div>
</div>