<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
    
    {% include shared/head.html %}

    <body onload="filterTags()">

    <div id="footer-wrapper" class="gradient">
        <div id="about" class="row">
            <div class="large-6 large-centered columns">
                <p>This site has been retired. Back to <a href="https://github.com/Adobe-Marketing-Cloud">https://github.com/Adobe-Marketing-Cloud</a></p>
            </div>
        </div>
    </div>

    </body>

</html>
