<div id="content" class="row">
    <div class="columns">
        
        <section class="tagged tag-General">
            <h2 class="tagged tag-General">General Use</h2>
            <article class="tagged tag-General">
                <a href="https://github.com/Adobe-Marketing-Cloud/data-connectors-api-examples" target="_blank">
                    <h3>AEM Data Connector API samples</h3>
                </a>
                <p>A set of code snippets for calling the Data Connections API </p>
            </article>

            <article class="tagged tag-General">
                <a href="https://github.com/Adobe-Marketing-Cloud/tools" target="_blank">
                    <h3>Tools</h3>
                </a>
                <p>Tools to support development, testing and deployment of Marketing Cloud technologies.</p>
            </article>

            <article class="tagged tag-General">
                <a href="https://github.com/Adobe-Marketing-Cloud/homebrew-brews" target="_blank">
                    <h3>Homebrew brews</h3>
                </a>
                <p>Homebrew Formulae for Adobe Marketing Cloud tools </p>
            </article>

            <article class="tagged tag-General">
                <a href="https://github.com/Adobe-Marketing-Cloud/video-heartbeat" target="_blank">
                    <h3>Video heartbeat</h3>
                </a>
                <p>Contains the final deliverables for the mobile versions of the VideoHeartbeat wrapper library. </p>
            </article>
        </section>

        <section>
            <h2 class="tagged tag-Analytics">Analytics</h2>
            <article class="tagged tag-Analytics">
                <a href="https://github.com/Adobe-Marketing-Cloud/RSiteCatalyst" target="_blank">
                    <h3>RSiteCatalyst</h3>
                </a>
                <p>R package to access Adobe (Omniture) SiteCatalyst Reporting API</p>
            </article>
        </section>

        <section>
            <h2 class="tagged tag-Mobile">Mobile</h2>
            <article class="tagged tag-Mobile">
                <a href="https://github.com/Adobe-Marketing-Cloud/mobile-services" target="_blank">
                    <h3>Mobile Services</h3>
                </a>
                <p>Native Mobile SDKs, dev tools and example apps.</p>
            </article>

            <article class="tagged tag-Mobile">
                <a href="https://github.com/Adobe-Marketing-Cloud/cordova-zip-plugin" target="_blank">
                    <h3>Apache Cordova ZIP Plugin</h3>
                </a>
                <p>Zip plugin for Cordova apps</p>
            </article>

            <article class="tagged tag-Mobile">
                <a href="https://github.com/Adobe-Marketing-Cloud/mobile-services-phonegap" target="_blank">
                    <h3>Mobile Services PhoneGap</h3>
                </a>
                <p>PhoneGap plugin for PGB</p>
            </article>

            <article class="tagged tag-Mobile">
                <a href="https://github.com/Adobe-Marketing-Cloud/aem-phonegap-starter-kit" target="_blank">
                    <h3>AEM PhoneGap Starter Kit</h3>
                </a>
                <p>Bootstrap your AEM Apps project </p>
            </article>
        </section>
        
        <section>
            <h2 class="tagged tag-AEM tag-AEM-developer-tools">AEM Developer Tools</h2>

            <article class="tagged tag-AEM tag-AEM-developer-tools">
                <a href="https://github.com/Adobe-Marketing-Cloud/aem-eclipse-developer-tools" target="_blank">
                    <h3>AEM Eclipse Developer Tools</h3>
                </a>
                <p>The Eclipse plugin that brings you the full connection to the Adobe Experience Manager, with auto-sync and project creation wizard.</p>
            </article>

            <article class="tagged tag-AEM tag-AEM-developer-tools">
                <a href="https://github.com/Adobe-Marketing-Cloud/aem-sightly-brackets-extension" target="_blank">
                    <h3>AEM Sightly Brackets extension</h3>
                </a>
                <p>Brackets extension for AEM front-end developers with auto-sync and Sightly support.</p>
            </article>

            <article class="tagged tag-AEM tag-AEM-developer-tools">
                <a href="https://github.com/Adobe-Marketing-Cloud/experiencemanager-java-maintenancetask-sample" target="_blank">
                    <h3>AEM maintenance task sample</h3>
                </a>
                <p>Sample Maintenance Task for AEM 6.0</p>
            </article>

            <article class="tagged tag-AEM tag-AEM-developer-tools">
                <a href="https://github.com/Adobe-Marketing-Cloud/aem-project-archetype" target="_blank">
                    <h3>AEM Project Archetype</h3>
                </a>
                <p>Maven template to create a new AEM project as starting point to develop your own functionality. </p>
            </article>
        </section>

        <section>
            <h2 class="tagged tag-AEM tag-Sightly">Sightly</h2>

            <article class="tagged tag-AEM tag-Sightly">
                <a href="https://github.com/Adobe-Marketing-Cloud/sightly-spec" target="_blank">
                    <h3>Sightly Specifications</h3>
                </a>
                <p>Sightly Web Templating Language Specification</p>
            </article>

            <article class="tagged tag-AEM tag-Sightly">
                <a href="https://github.com/Adobe-Marketing-Cloud/aem-sightly-repl" target="_blank">
                    <h3>AEM Sightly Repl</h3>
                </a>
                <p>Read–Eval–Print Loop environment for Sightly. </p>
            </article>

            <article class="tagged tag-AEM tag-Sightly">
                <a href="https://github.com/Adobe-Marketing-Cloud/sightly-tck" target="_blank">
                    <h3>Adobe Sightly Technology Compatibility Kit</h3>
                </a>
                <p>The Adobe Sightly TCK provides a suite of tests meant to certify that a Sightly implementation conforms with the published <a href="https://github.com/Adobe-Marketing-Cloud/sightly-spec">language specification</a>.</p>
            </article>

            <article class="tagged tag-AEM tag-Sightly">
                <a href="https://github.com/Adobe-Marketing-Cloud/aem-sightly-sample-todomvc" target="_blank">
                    <h3>Sightly TodoMVC Example</h3>
                </a>
                <p>This example shows how to build components in AEM 6 with Sightly. It's a feature-complete implementation of the famous TodoMVC exercise.</p>
            </article>
        </section>

        <section>
            <h2 class="tagged tag-AEM tag-AEM-SCF">AEM Social Component Framework</h2>

            <article class="tagged tag-AEM tag-AEM-SCF">
                <a href="https://github.com/Adobe-Marketing-Cloud/aem-scf-sample-components-extension" target="_blank">
                    <h3>AEM SCF sample: component extension</h3>
                </a>
                <p>Sample package for AEM Social Communities - Social Component Framework (SCF). Examples of extending Communities components to build a new social component. </p>
            </article>

            <article class="tagged tag-AEM tag-AEM-SCF">
                <a href="https://github.com/Adobe-Marketing-Cloud/aem-scf-sample-components-overlay" target="_blank">
                    <h3>AEM SCF sample: component overlay</h3>
                </a>
                <p>Sample package for AEM Social Communities - Social Component Framework (SCF). Examples of overlaying Communities components on the client side to change the UI of a component.</p>
            </article>
        </section>

        <section>
            <h2 class="tagged tag-AEM tag-AEM-forms">AEM Forms</h2>

            <article class="tagged tag-AEM tag-AEM-forms">
                <a href="https://github.com/Adobe-Marketing-Cloud/aem-scf-sample-components-extension" target="_blank">
                    <h3>AEM Forms Samples</h3>
                </a>
                <p>Contains AEM Forms useful utilities and samples.</p>
            </article>
        </section>
        
        <section class="tagged tag-AEM">
            <h2>AEM Authoring Extensions</h2>
            
            <a href="https://github.com/Adobe-Marketing-Cloud/aem-authoring-extension-layer-msm" target="_blank">
                <h3>AEM authoring extension: MSM</h3>
            </a>
            <p>Sample package for AEM 6 page authoring. Creating a new layer for MSM view.</p>

            <a href="https://github.com/Adobe-Marketing-Cloud/aem-authoring-extension-header-backtosites" target="_blank">
                <h3>AEM authoring extension: Header 'Back to sites'</h3>
            </a>
            <p>Sample package for AEM 6 page authoring. Creating a custom header action to jump back to Sites administration. </p>

            <a href="https://github.com/Adobe-Marketing-Cloud/aem-authoring-extension-assetfinder-flickr" target="_blank">
                <h3>AEM authoring extension: Assetfinder Flickr</h3>
            </a>
            <p>Sample package for AEM6 page authoring. Creating a new Assetfinder group to load Flickr images </p>

            <a href="https://github.com/Adobe-Marketing-Cloud/aem-authoring-extension-toolbar-screenshot" target="_blank">
                <h3>AEM authoring extension: Toolbar Screeshot</h3>
            </a>
            <p>Sample package for AEM 6 page authoring. Creating a custom toolbar action to render components.</p>
        </section>
        
    </div>
</div>