    <div id="featured" class="row">
            <h2>Top Repositories</h2>
        <div class="large-4 columns">
            
            <a href="https://github.com/Adobe-Marketing-Cloud/tools" target="_blank">
            <h3>Tools</h3>
                <img src="img/amc/tools.jpg"/>
            </a>
            <p>Scripts to perform common operations such as bulk imports, sanity checks or maintenance tasks. Check what's in it for the products you are interested in.</p>
        </div>
        <div class="large-4 columns">
            
            <a href="https://github.com/Adobe-Marketing-Cloud/mobile-services" target="_blank">
            <h3>Mobile Services</h3>
                <img src="img/amc/mobile.jpg"/>
            </a>
            <p>Allows you to access capabilities across Adobe Analytics, Adobe Target, and Adobe Media Optimizer. Implement lifecycle data in less than five minutes.</p>
            
        </div>
        <div class="large-4 columns">
            
            
            <a href="https://github.com/Adobe-Consulting-Services/acs-aem-tools" target="_blank">
            <h3>AEM Authoring Extensions</h3>
                <img src="img/amc/coralui.png"/>
            </a>
            <p>Sample packages for AEM authoring UI extensions, including: custom layer, custom header action, custom assetfinder tab, custom toolbar action. </p>
        </div>
    </div>