<div id="hero-wrapper">
    <div id="hero" class="row">
        <div class="large-12 columns">
            <h1><span data-i18n="index.page.hero.description">Adobe Marketing Cloud open development.</span></h1>
            <p>SDKs, Tools and Code Samples for Adobe Marketing Cloud developers. Open Source.</p>
        </div>
    </div>
</div>

<div id="sub-hero-wrapper">
    <div class="intro row">
        <div class="columns">
            <p data-i18n="index.page.content.blurb">Open Development is one of the leading principles for Adobe developers. Adobe Marketing Cloud provides a large number of extensibility points to allow customisations and extensions. This space enables meritocratic collaboration among developers who are building or using SDKs, code samples and other useful tools.</p>
        </div>
    </div>
</div>