    <div id="tag-select" class="row">
        <div class="columns">
        <h4>Filter projects by tag:</h4>
            <form>
                <ul>
                    <li class="tag-General"><a onclick="toggleTag(this.parentNode)">General</a></li>
                    <li class="tag-Marketing-Cloud"><a onclick="toggleTag(this.parentNode)">Marketing Cloud</a></li>
                    <li class="tag-Mobile"><a onclick="toggleTag(this.parentNode)">Mobile</a></li>
                    <li class="tag-integrations"><a onclick="toggleTag(this.parentNode)">Integrations</a></li>
                    <li class="tag-Analytics"><a onclick="toggleTag(this.parentNode)">Analytics</a></li>
                    <li class="tag-Sightly"><a onclick="toggleTag(this.parentNode)">Sightly</a></li>
                    <li class="tag-AEM"><a onclick="toggleTag(this.parentNode)">AEM</a></li>
                    <li class="tag-AEM-SCF"><a onclick="toggleTag(this.parentNode)">AEM Social Component Framework</a></li>
                    <li class="tag-AEM-developer-tools"><a onclick="toggleTag(this.parentNode)">AEM Developer Tools</a></li>
                    <li class="tag-AEM-integrations"><a onclick="toggleTag(this.parentNode)">AEM Integrations</a></li>
                </ul>
            </form>
        </div>
    </div>